body, html {
  height: 100vh;
}

.messages-box {
  height: 80vh;
  overflow-y: auto;
}

.sent {
  background-color: #dcf8c6;
}

.received {
  background-color: #f1f0f0;
}

.chat-container {
  background-color: #f1f0f0;
  display: flex;
  flex-direction: column;
  max-width: 648px;
}
